@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(155, 89, 182, 0.7);
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.phone {
    height: 600px;
    width: 340px;
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.phone .content {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    object-fit: cover;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
}

.phone .content.show {
    opacity: 1;
}

nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: -5px;
}

nav ul {
    display: flex;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    list-style-type: none;
}

nav li {
    color: #777;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
}

nav ul li p {
    margin: 2px 0;
    font-size: 12px;
}

nav ul li:hover,
nav ul li:active {
    color: #8e44ad;
}